@layer tokens {
  :where(:root, :host) {
    --radii-sm: calc(var(--radius) - 4px);
    --radii-md: calc(var(--radius) - 2px);
    --radii-lg: var(--radius);
    --radii-xl: calc(var(--radius) + 4px);
    --font-sizes-xs: 0.75rem;
    --font-sizes-sm: 0.875rem;
    --font-sizes-md: 1rem;
    --font-sizes-lg: 1.125rem;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --colors-background: var(--background);
    --colors-foreground: var(--foreground);
    --colors-card: var(--card);
    --colors-card-foreground: var(--card-foreground);
    --colors-popover: var(--popover);
    --colors-popover-foreground: var(--popover-foreground);
    --colors-primary: var(--primary);
    --colors-primary-foreground: var(--primary-foreground);
    --colors-secondary: var(--secondary);
    --colors-secondary-foreground: var(--secondary-foreground);
    --colors-muted: var(--muted);
    --colors-muted-foreground: var(--muted-foreground);
    --colors-accent: var(--accent);
    --colors-accent-foreground: var(--accent-foreground);
    --colors-destructive: var(--destructive);
    --colors-destructive-foreground: var(--destructive-foreground);
    --colors-border: var(--border);
    --colors-input: var(--input);
    --colors-ring: var(--ring);
    --colors-success: var(--success);
    --colors-success-foreground: var(--success-foreground);
    --colors-warning: var(--warning);
    --colors-warning-foreground: var(--warning-foreground);
    --colors-info: var(--info);
    --colors-info-foreground: var(--info-foreground);
}
}